@inject NavigationManager NavManager
<div class="card shadow p-3">
                <div class="row">
                    <div class="col col-sm-3">
                        <img alt="Image of @RecipeDto.Title Recipe " src="@(!string.IsNullOrWhiteSpace(RecipeDto.Image) ? $"images/{RecipeDto.Image}" : "https://via.placeholder.com/286x190.jpg?text=No+Image+For+Trail")" class="card-img-top " />
                    </div>
                    <div class="col col-sm-9 d-flex flex-column">
                        
                        <h6 class=" mb-3 text-muted"><span class="bi bi-grid mr-2"></span>  @RecipeDto.Category.Text</h6>
                        <div class="d-flex flex-row gap-5 mb-2">
                        <span>Serves: @RecipeDto.Serves</span>
                        <span> Prep Time:<strong>@RecipeDto.PrepTime</strong> mins</span>
                        <span>Cook Time:  <strong>@RecipeDto.CookTime</strong> mins</span>
                        </div>
                        <p>@RecipeDto.Description</p>

                        <div class="d-flex flex-row gap-5">
                        @if (!string.IsNullOrEmpty(RecipeDto.Creator))
                        {
                            <span><span class="bi bi-person-circle "></span> Created by: @RecipeDto.Creator</span>
                        }
                        <span><span class="bi bi-person-circle mr-2"></span> Added by: @RecipeDto.AddedBy </span>
             
                        <div class="align-self-end">
                         
                            @* <FavoriteButton RecipeId="@RecipeDto.RecipeId"  />*@
                            <AuthorizeView>
                                @if (RecipeDto.AddedBy.Equals(context.User?.Identity?.Name, StringComparison.CurrentCultureIgnoreCase) || context.User.IsInRole("Administrator"))
                                {
                                    <button aria-Label="editRecipe" class="btn btn-outline-secondary float-right" title="Edit" @onclick="@(() => NavManager.NavigateTo($"/edit-recipe/{RecipeDto.Id}"))">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                }
                            </AuthorizeView>
                        </div> 
                        </div>
                    </div>
                </div>
            </div>
@code {
    [Parameter]public FullRecipe RecipeDto{ get; set; }


}
