  <FormSection Title="Cooking steps"
                 HelpText="Tell the steps that need to be taken to make this this recipe">
        <FormFieldSet>
            @{
                var i = 0;
            }
            @foreach (var cookingStep in Recipe.CookingSteps)
            {
                i++;
                cookingStep.OrderNumber = i;
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="font-weight-bold text-secondary">Order</label>
                            <p>@cookingStep.OrderNumber</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="cookingStepDescription" class="font-weight-bold text-secondary">Description</label>
                            <InputText @bind-Value="cookingStep.StepDescription" class="form-control" id="cookingStepDescription" />
                            <ValidationMessage For="@(() => cookingStep.StepDescription)" />
                        </div>
                    </div>
                    <div class="col-1 d-flex mt-3">
                        <button @onclick="@(() => Recipe.CookingSteps.Remove(cookingStep))" class="btn btn-link" type="button">
                                <RemoveSvg/>
                        </button>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.CookingSteps.Add(new CookingStep()))">Add CookingStep</button>
                    <ValidationMessage For="@(() => Recipe.CookingSteps)" />
                </div>
            </div>
        </FormFieldSet>
    </FormSection>
@code {
     [CascadingParameter] public RecipeDto Recipe { get; set; }
}
