@page "/recipe/{RecipeId}"

@inject RecipeManager RecipeManager
<PageTitle>@Recipe.Title</PageTitle>

<BreadCrumb PageName="@Recipe.Title" />

@if (_isLoading)
{
    <p>Loading Recipe</p>
}
else
{
    <div class="grid">
        <div class="row">
            <h2>@Recipe.Title</h2>
        </div>
        <div class="row mb-3">
            <HeaderSection RecipeDto="@Recipe" />
        </div>
        <div class="row mb-3">
            <div class="card shadow p-3 mt-3">
                <div class="d-flex flex-row">                
                    <div class="col-sm-7">
                        <MethodSection CookingSteps="@Recipe.CookingSteps" />
                    </div>
                    <div class="d-flex ms-4 me-4">
                        <div class="vr"></div>
                    </div>
                    <div class="col-sm-4">                                    
                        <UtensilSection UtensilParts="@Recipe.Utensils" />
                    </div>

                </div>
            </div>
        </div>
        @if (Recipe.Tips is not null )
        {
            <TipsSection Tips="@Recipe.Tips"  />
        }
    </div>
}


@code {
    public FullRecipe Recipe = new();
    private bool _isLoading = true;
    [Parameter] public string RecipeId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await RecipeManager.GetById(RecipeId);
        if (response is null)
        {

        }
        _isLoading = false;
        Recipe = response;
    }
}
