@inject NavigationManager NavManager

<div class="card shadow" >
    
        <img alt="Image of @RecipeSummary.RecipeTitle Recipe"    src="@(!string.IsNullOrWhiteSpace(RecipeSummary.ImageFileName) ? $"images/{RecipeSummary.ImageFileName}" : "https://via.placeholder.com/286x190.jpg?text=No+Image+For+Recipe")" class="card-img-top ">
      <div class="pt-2 ps-2">
         <h7 class="card-title">@RecipeSummary.RecipeTitle</h7>  
       
        <div class="d-flex flex-row mb-1 justify-content-between">    
        <small> By: @RecipeSummary.AddedBy</small>
      <small class="text-muted pe-1"><span class="bi bi-grid"></span>  @RecipeSummary.Category.Name</small>  
      
        </div>
         <div class="d-flex flex-row-reverse gap-1 p-2">
        <button aria-label="viewRecipe" class="btn btn-primary" title="View" @onclick="@(async () => NavManager.NavigateTo($"/recipe/{RecipeSummary.RecipeId}"))">
            <i class="bi bi-file-earmark-text"></i>
        </button>

       @* <FavoriteButton RecipeId="@RecipeSummary.RecipeId"  />*@
        <AuthorizeView>
            @if (RecipeSummary.AddedBy.Equals(context.User?.Identity?.Name, StringComparison.CurrentCultureIgnoreCase) || context.User.IsInRole("Administrator"))
            {
                <button aria-Label="editRecipe" class="btn btn-outline-secondary float-right" title="Edit" @onclick="@(() => NavManager.NavigateTo($"/edit-recipe/{RecipeSummary.RecipeId}"))">
                    <i class="bi bi-pencil"></i>
                </button>
            }
        </AuthorizeView>
       
    </div>
</div>
</div>

@code {
    [Parameter, EditorRequired] public RecipeSummary RecipeSummary { get; set; } 
    
}