
<FormSection Title="Cooking steps" >       
        @foreach(var cookingStep in CookingSteps )
        {
            <div class="d-flex row gy-1 gx-1 align-items-center ms-2 mb-2">
                <label id="orderNumber" class="col col-auto" > @cookingStep.OrderNumber </label>           
                <FormInputGroup Id="cookingStepDescription" Label="Description" Width="col-sm-10" Margins="mb-2" >
                    <InputTextArea role="textbox" aria-required="true" @bind-Value="cookingStep.StepDescription" class="form-control" id="CookingStepDescription" />
                    <ValidationMessage aria-alert="true" For="@(() => cookingStep.StepDescription)" />
                </FormInputGroup>

            <div>
                <div>
        
                <PartIngredientSection PartIngredients="@cookingStep.PartIngredients" />
            
              <button role="button" aria-label="newPartIngredient" class="btn btn-outline-primary col-2 mb-2" type="button" @onclick="@(() => cookingStep.PartIngredients.Add(new PartIngredient()))">Add Ingredient </button>
            <ValidationMessage aria-alert="true" For="@(() => cookingStep.PartIngredients)" />
               </div>
    </div>

             <div class="col-sm-1">
                    <button aria-label="removeStep" class="btn link-danger "@onclick="@(() => CookingSteps.Remove(cookingStep))" type="button"><i class="bi bi-dash-circle"></i></button>
                </div>               
            </div>
 }
</FormSection>
@code {
    [Parameter] public List<CookingStep> CookingSteps { get; set; }

    public async Task RemovePartIngredient(PartIngredient partIngredient)
    {
        CookingStep.PartIngredients.Remove(partIngredient);
    }


}
