<FormSection Title="Cooking steps"
             HelpText="Tell the steps that need to be taken to make this this recipe">
    <h7><span style="color: darkred">*</span>please use fractions (1/2) not decimal numbers (2.4) when part numbers are required</h7>

        @{
            var i = 0;
        }
        @foreach (var cookingStep in Recipe.CookingSteps)
        {
            i++;
            cookingStep.OrderNumber = i;
            <div class="row gy-1 gx-1 align-items-center mb-2">

                <FormInputGroup Id="orderNumber" Label="Order " Width="col-auto" Margins="mb-2 mr-3" >
                    <span id="orderNumber" class="align-self-center ps-2 pe-2 "> @cookingStep.OrderNumber </span>
                </FormInputGroup>

                <FormInputGroup Id="cookingStepDescription" Label="Description" Width="col-8" Margins="mb-2" >
                    <InputTextArea role="textbox" aria-required="true" @bind-Value="cookingStep.StepDescription" class="form-control" id="cookingStepDescription" />
                    <ValidationMessage aria-alert="true" For="@(() => cookingStep.StepDescription)" />
                </FormInputGroup>

                  <div class="col-sm-1">
                    <button aria-label="removeStep" class="btn link-danger "@onclick="@(() => Recipe.CookingSteps.Remove(cookingStep))" type="button"><i class="bi bi-dash-circle"></i></button>
                </div>
               
            </div>
        }

        <div class="row">
            <div class="col">
                <button aria-label="addNewCookingStep" class="btn btn-outline-primary" type="button" @onclick="@(() => Recipe.CookingSteps.Add(new CookingStep()))">Add CookingStep</button>
                <ValidationMessage aria-alert="true" For="@(() => Recipe.CookingSteps)" />
            </div>
        </div>
 
</FormSection>
@code {
    [Parameter] public RecipeDto Recipe { get; set; }
}
