@inject IngredientManager IngredientManager
<div class="row gy-1 gx-1 align-items-center mb-2">
    @foreach (var ing in CookingStep.StepIngredients)
    {
        <div class="mb-2 ">    
            <div class="row mb-sm-1 ">
                
                <FormInputGroup Id="quantityInput" Label="Quantity" Width="col col-sm-2">
                    <InputNumber aria-required="true" min=0 id="quantityInput" class="form-control  " @bind-Value="ing.Amount" />
                    <ValidationMessage aria-alert="true" For="@(() =>  ing.Amount)" />
                </FormInputGroup>

                <FormInputGroup Id="measureUnitSelect" Label="Unit" Width="col col-sm-2">
                    <InputSelect aria-required="true" role="menu" id="measureUnitSelect" class="form-control " @bind-Value="ing.Unit">
                        @foreach (var unit in Enum.GetValues(typeof(MeasureUnit)))
                        {
                        <option role="menuitem" value="@unit">@unit</option>
                        }
                </InputSelect>
                <ValidationMessage aria-alert="true" For="@(() =>  ing.Unit)" />
            </FormInputGroup>
            <FormInputGroup Id="ingredientInput" Label="Ingredient" Width="col col-sm-8">
                    <IngredientTypeahead StepIngredient="@ing" />
                </FormInputGroup>
            
        </div>
        <div class="d-flex row">
        <FormInputGroup Id="descriptionInput" Label="Description" Width="col col-sm-8">
            <InputText id="decsriptionInput" class="form-control " placeholder="additional information" @bind-Value="ing.AdditionalInformation" />
            <ValidationMessage aria-alert="true" For="@(() =>  ing.AdditionalInformation)" />
        </FormInputGroup>

        <button role="button" aria-label="removeIngredient" @onclick="(() => CookingStep.StepIngredients.Remove(ing))" class="btn link-danger col-auto ml-3" type="button"><i class="bi bi-dash-circle"></i></button>
       </div>
    </div>   
    }
</div>

@code {
    [Parameter] public CookingStep CookingStep { get; set; } = new CookingStep();
}
