@inject AppState AppState

<FormInputGroup Id="quantityInput" Label="Quantity" Width="col col-sm-2">
    <InputText aria-required="true" id="quantityInput" class="form-control  " @bind-Value="CookingStepIngredient.Quantity" />
    <ValidationMessage aria-alert="true" For="@(() =>  CookingStepIngredient.Quantity)" />
</FormInputGroup>
<FormInputGroup Id="measureInput" Label="Measure" Width="col col-sm-2">
    <InputSelect @bind-Value="@CookingStepIngredient.Measure">
                    @foreach (var measure in Enum.GetValues(typeof(MeasureUnit)))
                    {
                        <option value="@measure">@measure </option>
                    }
                </InputSelect>
    <ValidationMessage aria-alert="true" For="@(() =>  CookingStepIngredient.Measure)" />
</FormInputGroup>
<FormInputGroup Id="ingredientSelect" Label="Ingredient" Width="col col-sm-8">
    <select @onchange="@OnValueChanged" id="ingredientSelect" class="form-control"  >
        <option>@placeholder</option>
        @foreach (var item in Recipe.ContainedIngredients)
        {
            @if(CookingStepIngredient.Ingredient is not null)
            {
                <option value="@item.Id" selected>@item.Name</option>
            }else
            {
            <option value="@item.Id">@item.Name</option>
        }
        }
    </select>
</FormInputGroup>

@code {
    [CascadingParameter] public Recipe Recipe { get; set; } = new();
    [Parameter] public CookingStepIngredient CookingStepIngredient { get; set; } = new();
  
    private string placeholder = "Select Ingredient";
   

    protected override async Task OnInitializedAsync()
    {
        if(CookingStepIngredient.Ingredient  is not null)
        {
            //ingredientSelect.Value = CookingStepIngredient.Ingredient.Name;
      
       
    } 
    }

    public void OnValueChanged(ChangeEventArgs args)
    {
        var value = args.Value.ToString();
        if (value is not null || value != placeholder)
            CookingStepIngredient.Ingredient = Recipe.ContainedIngredients.Where(x => x.Id == value).FirstOrDefault();

    }
}
